*font: xft:Source Code Pro:size=11:antialias=true:hinting=true
*boldFont: xft:Source Code Pro:size=11:antialias=true:hinting=true
*italicFont: xft:Source Code Pro:style=Oblique:size=11:antialias=true:hinting=true
*boldItalicFont: xft:Source Code Pro:style=Bold Oblique:size=11:antialias=true:hinting=true
*letterSpace: -2

! https://bugs.launchpad.net/ubuntu/+source/emacs23/+bug/931849
emacs*font: Source Code Pro:size=11:antialias=true:hinting=true:pixelsize=14
emacs*boldFont: Source Code Pro:size=11:antialias=true:hinting=true:pixelsize=14
emacs*italicFont: Source Code Pro:style=Oblique:size=11:antialias=true:hinting=true:pixelsize=14
emacs*boldItalicFont: Source Code Pro:style=Bold Oblique:size=11:antialias=true:hinting=true:pixelsize=14

URxvt.background: #000000
URxvt.borderColor: #000000
URxvt.foreground: #EFEFEF
URxvt.scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.perl-ext: reactivity
URxvt.perl-ext-common: eval,resize-font,reactivity

URxvt.keysym.Control-minus:     resize-font:smaller
URxvt.keysym.Control-equal:     resize-font:bigger
URxvt.keysym.Control-0:         resize-font:reset
URxvt.keysym.Control-question:  resize-font:show

! By default, urxvt binds ctrl-shift to its weird
! "Keycap Picture Insert" and "ISO 14755" modes
! This disables that
URxvt.iso14755: false
URxvt.iso14755_52: false

! More conventional keybinds for copy/paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

URxvt.keysym.M-Escape: perl:reactivity:vim
URxvt.keysym.M-v: perl:reactivity:vim
URxvt.keysym.Shift-Meta-V: perl:reactivity:vim

URxvt.print-pipe: cat > $HOME/urxvt-print
